extends layout/app
block page 
    include blocks/header
    include blocks/title
    include blocks/work
    include blocks/info
    include blocks/about
    include blocks/banner
    include blocks/services
    include blocks/success
    include blocks/project 
    include blocks/team
    include blocks/excursion
    include blocks/contact
    include blocks/footer